<div class="modal_window_content modal" data-modal="2">
    <button class="modal_close-btn js-modal-close" type="button">
        <svg class="modal_close-icon" width="28" height="28">
            <use href="./img/icon.svg#icon-clos"></use>
        </svg>
    </button>
    <img class="thank-you-img" src="../img/thank-you-pop-up/strawberry768.png" alt="Strawberry" width="207">

    <div class="modal_text">
        <h2 class="modal_title">THANK YOU</h2>
        <p class="modal_subtitle">
            Thank you for your order! Our team is preparing your box with fresh,
            delicious fruits and vegetables, and we'll deliver it straight to your
            doorstep. We appreciate your business and look forward to providing you
            with the best possible experience!
        </p>
    </div>
</div>
<div class="modal_window window backdrop js-overlay-modal"></div>