<div class="backdrop is-hidden">
    <div class="modal-window">
        <h2 class="order-title">YOU ORDER</h2>
        <button class="close-wind" type="button">
            <svg class="close" width="24" height="24">
                <use href=""></use>
            </svg>
        </button>
        <ul>
            <li class="order-cart">
                <h3 class="cart-title">Strawberry Basket</h3>
                <p class="categori">Plant</p>
                <img class="cart-img" src="" alt="">
                <input class="cart-checkbox" type="checkbox">
            </li>
            <li class="order-cart">
                <h3 class="cart-title">Apple Basket</h3>
                <p class="categori">Plant</p>
                <img class="cart-img" src="" alt="">
                <input class="cart-checkbox" type="checkbox">
            </li>
            <li class="order-cart">
                <h3 class="cart-title">Fruits Basket</h3>
                <p class="categori">Plant</p>
                <img class="cart-img" src="" alt="">
                <input class="cart-checkbox" type="checkbox">
            </li>
        </ul>
        <form>
            <lable class="data-lable">Enter full name...
                <input type="text" class="data-input">
            </lable>
            <lable class="data-lable">Enter email...
                <input type="email" class="data-input">
            </lable>
            <lable class="data-lable">Enter card..
                <input type="tel" class="data-input">
            </lable>
            <lable class="data-lable">Enter comments...
                <textarea class="data-input" name="Comment" rows="4" placeholder="Text input"></textarea>
            </lable>
            <button class="order-button" type="submit">Submit</button>
        </form>
    </div>
</div>