<div class="modal-window modal" data-modal="1">
    <h2 class="order-title">YOU ORDER</h2>
    <button class="close-wind js-modal-close" type="button">
        <svg class="close" width="24" height="24">
            <use href="./img/icon.svg#icon-clos"></use>
        </svg>
    </button>
    <form class="modal-form">
        <ul class="cart-colection">
            <li class="order-cart">
                <label class="order-box">
                    <div class="title-section">
                        <h3 class="cart-title">Strawberry Basket</h3>
                        <p class="categori">Plant</p>
                    </div>
                    <picture class="img-container">
                        <source
                            srcset="./img/your-order-pop-up/kisspng-strawberry1.png 1x, ./img/your-order-pop-up/kisspng-strawberry1@2x.png 2x"
                            media="(max-width: 325px)" sizes="(width: 88px) 88px, 100vw">
                        <source
                            srcset="./img/your-order-pop-up/kisspng-strawberry1768.png 1x, ./img/your-order-pop-up/kisspng-strawberry1@2x768.png 2x"
                            media="(max-width: 1280px)" sizes="(width: 133px) 133px, 100vw">
                        <source
                            srcset="./img/your-order-pop-up/kisspng-strawberry11200.png 1x, ./img/your-order-pop-up/kisspng-strawberry1@2x1200.png 2x"
                            media="(min-width: 1280px)" sizes="(width: 173px) 173px, 100vw">
                        <img src="./img/your-order-pop-up/kisspng-strawberry1.png" alt="Strawberry">
                    </picture>
                    <input class="cart-checkbox" type="checkbox">
                </label>
            </li>
            <li class="order-cart">
                <label class="order-box">

                    <div class="title-section">
                        <h3 class="cart-title">Apple Basket</h3>
                        <p class="categori">Plant</p>
                    </div>
                    <picture class="img-container">
                        <source
                            srcset="./img/your-order-pop-up/unsplash_zeFy-oCUhV8.png 1x, ./img/your-order-pop-up/unsplash_zeFy-oCUhV8.png@2x 2x"
                            media="(max-width: 325px)" sizes="(width: 107px) 107px, 100vw">
                        <source
                            srcset="./img/your-order-pop-up/unsplash_zeFy-oCUhV8768.png 1x, ./img/your-order-pop-up/unsplash_zeFy-oCUhV8@2x768.png 2x"
                            media="(max-width: 1279px)" sizes="(width: 172px) 172px, 100vw">
                        <source
                            srcset="./img/your-order-pop-up/unsplash_zeFy-oCUhV81200.png 1x, ./img/your-order-pop-up/unsplash_zeFy-oCUhV8@2x1200.png 2x"
                            media="(min-width: 1280px)" sizes="(width: 229px) 229px, 100vw">
                        <img src="./img/your-order-pop-up/unsplash_zeFy-oCUhV8.png" alt="Strawberry">
                    </picture>
                    <input class="cart-checkbox" type="checkbox">
                </label>
            </li>
            <li class="order-cart">
                <label class="order-box">

                    <div class="title-section">
                        <h3 class="cart-title">Fruits Basket</h3>
                        <p class="categori">Plant</p>
                    </div>
                    <picture class="img-container">
                        <source
                            srcset="./img/your-order-pop-up/IMG_9757_1.png 1x, ./img/your-order-pop-up/IMG_9757_1@2x.png 2x"
                            media="(max-width: 325px)" sizes="(width: 107px) 107px, 100vw">
                        <source
                            srcset="./img/your-order-pop-up/IMG_9757_1768.png 1x, ./img/your-order-pop-up/IMG_9757_1@2x768.png 2x"
                            media="(max-width: 1279px)" sizes="(width: 172px) 172px, 100vw">
                        <source
                            srcset="./img/your-order-pop-up/IMG_9757_11200.png 1x, ./img/your-order-pop-up/IMG_9757_1@2x1200.png 2x"
                            media="(min-width: 1280px)" sizes="(width: 229px) 229px, 100vw">
                        <img src="./img/your-order-pop-up/IMG_9757_1.png" alt="Strawberry">
                    </picture>
                    <input class="cart-checkbox" type="checkbox">
                </label>
            </li>
        </ul>
        <div class="order-form">
            <lable class="data-lable" for:="Full-name">
                <input type="text" class="data-input" name="Full-name" placeholder="&nbsp;">
                <span class="input-text-inform">Enter full name...</span>
            </lable>
            <lable class="data-lable" for:="mail">
                <input type="email" class="data-input" name="mail" placeholder="&nbsp;">
                <span class="input-text-inform">Enter email...</span>
            </lable>
            <lable class="data-lable" for:="card">
                <input type="text" class="data-input" name="card" maxlength="16" pattern="[0-9]{16}"
                    placeholder="&nbsp;">
                <span class="input-text-inform">Enter card..</span>
            </lable>
            <lable class="data-lable" for:="Comment">
                <textarea class="data-input-comment" name="Comment" rows="4" placeholder="&nbsp;"></textarea>
                <span class="input-text-inform in-textarea">Enter comments...</span>
            </lable>

            <button class="order-button js-open-modal" type="submit" data-modal="2">Submit</button>
        </div>
        <picture class="background-img">
            <source srcset="./img/your-order-pop-up/IMG_9760_290.png 1x, ./img/your-order-pop-up/IMG_9760_580.png 2x"
                media="(max-width: 1279px)" sizes="(min-width: 480px) 480px, 100vw">
            <source srcset="./img/your-order-pop-up/IMG_9760_471.png 1x, ./img/your-order-pop-up/IMG_9760_942.png 2x"
                media="(min-width: 1280px)" sizes="(min-width: 480px) 480px, 100vw">
            <img src="./img/your-order-pop-up/IMG_9760_290.png" alt="women and Fresh Fruits">
        </picture>
    </form>

</div>
<div class="backdrop js-overlay-modal"></div>