<div class="backdrop is-hidden">
    <div class="modal-window">
        <h2 class="order-title">YOU ORDER</h2>
        <button class="close-wind" type="button">
            <svg class="close" width="15" height="15">
                <use href="../img/symbol-defs.svg#close-black-18dp-2-1"></use>
            </svg>
        </button>
        <ul class="cart-colection">
            <li class="order-cart">
                <div class="title-section">
                    <h3 class="cart-title">Strawberry Basket</h3>
                    <p class="categori">Plant</p>
                </div>
                <img class="cart-img"
                    srcset="../img/your-order-pop-up/kisspng-strawberry1.png 1x, ../img/your-order-pop-up/kisspng-strawberry1@2x.png 2x"
                    src="../img/your-order-pop-up/kisspng-strawberry1.png" alt="Strawberry" width="88" loading="lazy">
                <input class="cart-checkbox" type="checkbox">
            </li>
            <li class="order-cart">
                <div class="title-section">
                    <h3 class="cart-title">Apple Basket</h3>
                    <p class="categori">Plant</p>
                </div>
                <img class="cart-img"
                    srcset="../img/your-order-pop-up/IMG_9757_1.png 1x, ../img/your-order-pop-up/IMG_9757_1@2x.png 2x"
                    src="../img/your-order-pop-up/IMG_9757_1.png" alt="Strawberry" width="106" loading="lazy">
                <input class="cart-checkbox" type="checkbox">
            </li>
            <li class="order-cart">
                <div class="title-section">
                    <h3 class="cart-title">Fruits Basket</h3>
                    <p class="categori">Plant</p>
                </div>
                <img class="cart-img"
                    srcset="../img/your-order-pop-up/unsplash_zeFy-oCUhV8.png 1x, ../img/your-order-pop-up/unsplash_zeFy-oCUhV8@2x.png 2x"
                    src="../img/your-order-pop-up/unsplash_zeFy-oCUhV8.png" alt="Strawberry" width="107" loading="lazy">
                <input class="cart-checkbox" type="checkbox">
            </li>
        </ul>
        <form>
            <lable class="data-lable" for:="Full-name">
                <span class="input-text-inform">Enter full name...</span>
                <input type="text" class="data-input" name="Full-name">
            </lable>
            <lable class="data-lable" for:="mail"><span class="input-text-inform">Enter email...</span>
                <input type="email" class="data-input" name="mail">
            </lable>
            <lable class="data-lable" for:="card">
                <span class="input-text-inform">Enter card..</span>
                <input type="tel" class="data-input" name="card">
            </lable>
            <lable class="data-lable" for:="Comment">
                <span class="input-text-inform">Enter comments...</span>
                <textarea class="data-input-comment" name="Comment" rows="4"></textarea>
            </lable>

            <button class="order-button" type="submit">Submit</button>
        </form>
    </div>
</div>