.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    opacity: 1;
    visibility: visible;
}

.is-hidden {}

.modal-window {
    position: relative;
    width: 100%;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);

    background-color: #FFFFFF;
    border-radius: 20px;
}

.order-title {
    margin-bottom: 40px;

    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #AE1332;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.close-wind {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
}

.close {}

.cart-colection {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    margin-bottom: 40px;
}


.order-cart {
    position: relative;
    width: 100%;
    height: 119px;
    padding: 20px;

    background-color: #F8766B;
    border-radius: 20px;
}

.order-cart:nth-last-child(2) {
    background-color: #EDD251;
}

.order-cart:nth-last-child(3) {
    background-color: #9DC262;
}

.cart-title {}

.categori {}

.cart-img {}

.cart-checkbox {
    position: absolute;
    top: 14px;
    right: 14px;
    transform: translate(-50%, 50%);
}

.data-lable {
    position: relative;


    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: hsla(0, 0%, 0%, 0.5);
}

.input-text-inform {
    position: absolute;
    top: 0px;
    left: 24px;
}

.data-input {
    width: 100%;
    height: 46px;
    margin-bottom: 14px;
    padding: 14px 24px;

    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 100px;
}

.data-input-comment {
    width: 100%;
    height: 132px;
    margin-bottom: 20px;
    padding: 14px 24px;

    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 20px;
}

.order-button {
    width: 92px;
    height: 42px;

    background-color: #9DC162;
    border-radius: 100px;
    border-color: transparent;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}