.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    opacity: 1;
    visibility: visible;
}

.is-hidden {}

.modal-window {
    width: 100%;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);

    background-color: #FFFFFF;
    border-radius: 20px;
}

.order-title {}

.close-wind {}

.close {}

.order-cart {}

.cart-title {}

.categori {}

.cart-img {}

.cart-checkbox {}

.data-lable {}

.data-input {}

.order-button {}